.menu-confirm {
  height: 100px;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 0 11px -6px rgb(0, 0, 0);
  user-select: none;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;

  &__buttons {
    display: flex;
    width: 100%;
  }

  &__buttons > * {
    margin: 0 1em;
    width: 100% !important;
    background-color: #fcfcfc;
  }

  &--hide {
    display: none;
  }
}