.button {
  padding: 1px;
  border: 1px solid gray;
  border-radius: 4px;
  width: fit-content;
  user-select: none;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
    line-height: -1px;
  }
}

@mixin icon-init {
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 3px;
}

.icon {
  &-cross {
    @include icon-init;
    background-image: url("../../asset/icon-cross.svg");
  }
}

