body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.root {
  width: 100%;
  height: 100%;
}

.node-editor {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  outline: none;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  padding: 1px;
  border: 1px solid gray;
  border-radius: 4px;
  width: fit-content;
  user-select: none;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
    line-height: -1px;
  }
}