$color-gray: rgba(128, 128, 128, 0.5);

.property {

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #50505080;

  &, *, * * {
    user-select: none;
  }

  &__menu {
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    box-shadow: 0 0 11px -6px rgb(0, 0, 0);

    //noinspection CssInvalidPropertyValue
    height: -webkit-fill-available;
    border: 1px solid gray;
    border-radius: 4px;
    margin: .7em;

    background-color: #fcfcfc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .2em .4em;
    border-bottom: 1px solid $color-gray;
  }

  &__param {
    display: flex;
    justify-content: center;
    width: 100%;

    &__name {
      min-width: 50px;
      max-width: 40%;
      margin-right: 1em;
    }

    &__number {
      min-width: 2em;
      max-width: 4em;
    }

    &__string {
      min-width: 2em;
      max-width: 16em;
      border: 1px solid rgba(128, 128, 128, 0.21);
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

    & > * {
      padding: 0.2em 0.5em !important;
      width: 100% !important;
      max-width: 20%;
      min-width: fit-content;
      margin: 0 0.3em;
    }
  }

  &--hide {
    display: none;
  }
}

.tab__header {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 0 5px;
  margin: 5px 0;

  &__item {
    border: 1px solid gray;
    width: min-content;
    border-bottom: none;
    padding: 0.3em;
    border-radius: 5px 5px 0 0;
    margin: 0 .5px;
  }

  &__item--active {
    background-color: #00000040;
  }
}

.tab__body {
  //height: inherit;
  overflow: auto;
  flex: 1;

  &__item {
    //padding: 1em;
    //overflow: auto;
    //height: inherit;

    & > * {
      margin: .5em 0;
    }
  }

}